*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 12px;
}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;

    // スクロール禁止
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-size: 1.25rem;
}

header#header{
    background-color: #ffaaaa;
}

#date_container {
    #date{
        > .date-separators{
            font-size: 0.9rem;
        }
    }
}

#datetime_container{
    #datetime{

    }
}


main#main{
    background-color: #aaffaa;
}

// marquee-animation
h1#news_title{
    animation-name: marquee;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;

    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
}

@keyframes marquee{
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-100%);
    }
}

#info_container{
    #news_container{

        // リンクボタン
        #link_btn_container{
            text-align: right;
        }

        #open_link_btn{
            background-color: yellow;
            padding: 1px 5px;
            border-radius: 8px;
            width: auto;
        }

        #open_link_btn:focus{
            outline: 0;
        }
    }
}


footer#footer{
    background-color: #aaaaff;
    height: 12px;
}

button#close_button{
    position: fixed;
    right: 0;
    top: 0;
}